<!DOCTYPE html>
<h1><center>GOVERMENT OF MAHARASHTRA</center></h1><br>
<html>
  <body>
    <b><h2><center>Application Form</center></h2></b><br>
  <br>
  <br>
  <br> 
    <from name="Registration"></from>

    Enter your Name:<input type="text" name="firstname"><br>
    <br>
    Enter your First Name:<input type="text" name="firstname"><br>
    <br>
        Select the Gender:<input type="radio" name="gen" value="male">Male
    <input type="radio" name="gen" value="female">Female<br>
    <br>
    <br>
     
    Select the Number:<select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select><br>
        <br>
        <br>

  Select the colours:<input type="checkbox" name="red">Red
  <input type="checkbox" name="green">Green
  <input type="checkbox" name="blue">blue
  <input type="checkbox" name="black">Black
  <input type="checkbox" name="white">White<br>
  <br>
  <br>
  <input type="submit" name="OK">
  <input type="Reset" name="Reset"><br>
  <br>
  <h2> Table </h2>
  <table border="1" cellspacing="0" cellpadding="5" bgcolour="#77deff">
  <tr> 
    <th>name</th>
    <th>company</th>
    <th>post</th>
    <th>salary</th>
 </tr>
 </table><br>
 <img src="rahul.jpg">      
  </body>
</html>



